.contacts {
  box-sizing: border-box;

  padding-top: 38px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    padding-bottom: 105px;

    display: grid;
    grid-template-columns: 1fr 527px;
    grid-template-rows: 1fr min-content;
    column-gap: 50px;
  }
}

.contacts__wrapper {
  padding: 0 30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 175px;
  }
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  margin: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 23px;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 79px;
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 35px;
  }
}

.contacts__title-icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 0;
    right: 53px;
  }

  @media (min-width: $desktop-width) {
    top: 62px;
    left: 63px;
  }
}

.contacts__table {
  display: block;
  border-collapse: collapse;
  margin-bottom: 62px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }
}

.contacts__table tbody {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    display: flex;
  }
}

.contacts__row {
  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.contacts__data {
  color: $color-basic-grey;
  vertical-align: top;
  padding: 0;

  height: 60px;

  font-size: 14px;
  line-height: 30px;

  &:first-of-type {
    width: 77px;
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.contacts__link {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }

  &::after {
    position: absolute;
    content: "";
    left: 1px;
    bottom: 3px;
    height: 1px;
    width: 100%;
    background-color: $color-basic-soft-green;

    @media (min-width: $tablet-width) {
      bottom: 0;
    }

    @media (min-width: $desktop-width) {
      bottom: -5px;
    }
  }

  &:hover,
  &:focus {
    color: $color-basic-hard-green;

    &::after {
      background-color: $color-basic-hard-green;
    }
  }

  &:active::after {
    background-color: rgba($color-basic-hard-green, 0.1);
  }
}

.contacts__map {
  min-height: 454px;
  margin-bottom: 42px;
  background: url("../img/map-mobile.jpg") no-repeat center;
  background-color: $color-soft-grey;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    min-height: 457px;
    margin-bottom: 55px;
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    margin-bottom: 0;

    background-image: url("../img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 527px auto;
    }
  }
}

.contacts__map iframe {
  display: block;
  border: none;
  width: 100%;
  margin: 0;

  @media (min-width: $tablet-width) {
    height: 457px;
  }
}

.contacts__write-us {
  padding: 14px 15px;
  min-width: 230px;
  min-height: 52px;

  display: block;

  width: 100%;

  @media (min-width: $tablet-width) {
    width: 230px;
    font-size: 17px;

    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
