.contact-details-list__item {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.contact-details-list__label {
  color: $color-basic-light-green;

  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
}

.contact-details-list__input {
  display: block;
  width: 100%;
  min-height: 52px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid $color-basic-black;
  margin-bottom: 22px;
  background-color: transparent;

  &:hover,
  &:focus {
    border-bottom: 2px solid $color-basic-soft-green;
  }

  @media (min-width: $tablet-width) {
    width: 75%;
  }

  @media (min-width: $desktop-width) {
    width: 86%;
  }
}
