.contacts__wrapper {
  padding: 0 30px;
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.contacts__write-us {
  padding: 16px 37px;
  min-width: 260px;
  min-height: 52px;
}
