.main-nav {
  font-weight: bold;
}

.main-nav__list {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__logo {
  @media (min-width: $tablet-width) {
    order: -1;
    flex-basis: 50%;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    flex-basis: auto;
  }
}
