.main-header {
  background-color: $color-soft-grey;
  min-height: 176px;
  box-sizing: border-box;

  padding-top: 72px;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 237px;
    padding-top: 101px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 24px;
      background-image: url("../img/zigzag-fill-tablet.svg");
      background-position-x: center;
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 271px;
    padding-top: 102px;

    &::after {
      height: 34px;
      background-image: url("../img/zigzag-fill-desktop.svg");
    }
  }
}

.main-header--index-page {
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -18px;
  background-color: $color-normal-grey;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/hero-tablet.jpg");
    padding-top: 155px;
    background-position-y: -1px;
    min-height: 757px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 157px;
    min-height: 762px;
  }
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;

  min-height: 416px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;

    min-height: 602px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    margin: 0 auto;

    min-height: 605px;
  }
}


.main-header__title {
  padding: 0 30px;
  margin: 0;
  margin-bottom: 73px;

  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 113px;
  }
}

.main-header__nav {
  margin-top: auto;
}

.main-header__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
