.order-wishes {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
  }
}

.order-wishes__label {
  color: $color-basic-light-green;

  font-weight: bold;
  line-height: 16px;

  text-transform: uppercase;
  margin-bottom: 22px;
  display: block;
}

.order-wishes__input {
  display: block;
  width: 100%;
  padding: 0;
  padding-left: 10px;
  box-sizing: border-box;
  border: 2px solid $color-basic-grey;

  min-height: 142px;

  @media (min-width: $tablet-width) {
    width: 75%;
  }

  @media (min-width: $desktop-width) {
    width: 86%;
  }
}
