
.order-form__wrapper {
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 9.65%;
    padding-right: 19.56%;
    max-width: 814px;
    margin: 0 auto;
  }
}

.order-form__wrapper-background {
  @media (min-width: $tablet-width) {
    background-color: $color-soft-grey;
  }
}

.order-form__caption {
  font-size: 13px;

  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $desktop-width) {
    width: 86%;

    margin-left: auto;
  }
}

.order-form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
  position: relative;

  margin-bottom: 43px;
}

.order-form__legend {
  padding: 0;
  color: $color-basic-light-green;

  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;

  margin-bottom: 35px;

  @media (max-width: $mobile-width-only) {
    &::after {
      position: absolute;
      content: "";
      width: calc(100% - 60px);
      height: 1px;
      top: 8px;
      right: 0;
      background-color: $color-basic-soft-green;
    }
  }

  @media (min-width: $tablet-width) {
    position: absolute;
  }
}

.order-form__inner-container {
  @media (min-width: $tablet-width) {
    margin-left: auto;

    width: 75%;
  }

  @media (min-width: $desktop-width) {
    width: 86%;
  }
}

.order-form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-form__footer {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 75%;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 86%;
  }
}

.order-form__reminder {
  @media (max-width: $mobile-width-only) {
    display: block;
    margin-bottom: 30px;
  }
}

.order-form__submit {
  padding: 18px 37px;
  min-width: 260px;
  width: 100%;
  min-height: 52px;

  @media (min-width: $tablet-width) {
    width: 230px;
  }
}
