.page {
  height: 100%;

  font-family: "Open sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 24px;
}

.page__body {
  width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: $color-basic-white;
  color: $color-basic-black;
}
