.page-footer {
  background-color: $color-soft-grey;
}

.page-footer__wrapper {
  padding: 0 30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 143px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    margin: 0 auto;
  }
}

.page-footer__logo {
  display: block;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.page-footer__social {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $color-middle-grey;
    box-sizing: border-box;
    min-height: 80px;
    display: flex;
    justify-content: center;
  }
}

.page-footer__copyright {
  @media (max-width: $mobile-width-only) {
    min-height: 80px;
    display: flex;
    justify-content: center;
  }
}
