.page-header {
  outline: 5px solid rgba(38, 0, 255, 0.3);
  outline-offset: -5px;

  @media (min-width: $tablet-width) {
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    z-index: 99;
  }
}

.page-header__wrapper {
  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    margin: 0 auto;
  }
}

.page-header__delivery-info {
  color: $color-basic-grey;

  font-size: 15px;

  margin: 0;
}

@media (max-width: $mobile-width-only) {
  .page-header__delivery-info {
    display: none;
  }
}

.page-header__nav {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
