.page-footer {
  background-color: $color-soft-grey;
}

.page-footer__wrapper {
  padding: 0 30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 51px 50px 58px;
    display: flex;
    justify-content: space-between;

    min-height: 143px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    margin: 0 auto;
  }
}

.page-footer__logo {
  color: $color-basic-black;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  &:hover .page-footer__logo-text,
  &:focus .page-footer__logo-text {
    color: $color-basic-hard-green;
  }

  &:active .page-footer__logo-text {
    color: rgba($color-basic-hard-green, 0.3);
  }
}

.page-footer__social {
  @media (max-width: $mobile-width-only) {
    box-sizing: border-box;
    min-height: 80px;
    display: flex;
    justify-content: center;
  }
}

.page-footer__copyright {
  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $color-middle-grey;
    min-height: 79px;
    display: flex;
    justify-content: center;
  }
}
