
.page-main__video {
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;
  }
}

.page-main__wrapper {
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    margin: 0 auto;
  }
}

.page-main__container {
  @media (min-width: $desktop-width) {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
    box-sizing: border-box;
  }
}

.page-main__catalog {
  padding-top: 30px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 109px;
    margin-bottom: 56px;
  }
}
