.personal-list__item {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
  }
}

.personal-list__label {
  font-weight: bold;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-right: 25px;
  }
}

.personal-list__input {
  display: block;
  width: 100%;
  min-height: 52px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid $color-basic-black;
  margin-bottom: 22px;
  background-color: transparent;

  &:hover,
  &:focus {
    border-bottom: 2px solid $color-basic-soft-green;
  }
}
