.production-video {
  box-shadow: 0 0 0 1px $color-light-grey inset;
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;

    padding-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: min-content 1fr;

    min-height: 455px;
    padding-bottom: 0;
  }
}

.production-video__container {
  padding-left: 34px;
  padding-right: 33px;

  @media (min-width: $tablet-width) {
    padding: 0 42px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-right: 57px;

    display: flex;
    flex-direction: column;
  }
}

.production-video__title {
  display: flex;
  align-items: center;

  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  margin: 0;
  padding-top: 22px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    font-size: 20px;

    padding-top: 41px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 27px;
  }

  &::before {
    display: block;
    flex-shrink: 0;
    content: "";
    width: 32px;
    height: 22px;
    background-image: url("../img/video-icon.svg");
    margin-right: 25px;

    @media (min-width: $tablet-width) {
      margin-right: 33px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 0;
      margin-bottom: 28px;
    }
  }
}

.production-video__photo {
  display: block;
  width: 100%;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 35px;
  }

  @media (min-width: $tablet-width) {
    min-width: 668px;
    min-height: 455px;

    order: -1;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 3;
    width: 683px;
    height: 455px;
  }
}

.production-video__caption {
  font-size: 13px;
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }
}

.make-order {
  padding: 17px 11px 15px;
  min-width: 192px;
  min-height: 52px;
  line-height: 16px;

  @media (min-width: $desktop-width) {
    margin-top: auto;
    margin-bottom: 60px;

    font-size: 17px;
  }
}
