.product-class-list {
  list-style: none;
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    position: absolute;
    font-size: 15px;
    bottom: -30px;
  }
}

.product-class-list__link {
  text-decoration: none;
  color: inherit;
}
