.product-class-list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    font-size: 15px;

    width: calc(100% - 400px);
  }
}

.product-class-list__item {
  @media (min-width: $desktop-width) {
    width: 185px;
    margin-right: 35px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
