.reviews {
  padding-bottom: 51px;

  @media (min-width: $tablet-width) {
    padding-top: 79px;
    padding-bottom: 132px;
    background-image: url("../img/reviews-fone.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 186px;
  }
}

.reviews__wrapper {
  box-sizing: border-box;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    padding-right: 0;
  }
}

.reviews__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;

  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    order: -2;

    width: 70%;

    font-size: 43px;
    line-height: 50px;

    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;

    margin-bottom: 35px;
  }
}

.reviews__item {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;

  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;

    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }
}

.reviews__autor-name {
  font-weight: bold;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.reviews__autor-e-mail {
  line-height: 30px;

  margin: 0;
}

.reviews__toggles {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 69px;
    bottom: 10px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    right: 19px;
  }
}

.reviews__toggle {
  width: 50%;
  background-color: $color-basic-white;
  min-height: 52px;
  border: 1px solid $color-light-grey;
  padding: 0;
  cursor: pointer;

  &:hover path,
  &:focus path {
    opacity: 0.6;
  }

  &:active path {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    min-height: auto;
    border: none;
  }
}

.reviews__toggle:first-child {
  border-right: none;

  @media (min-width: $tablet-width) {
    margin-right: 37px;
  }
}

.reviews__write {
  padding: 14px 26px;
  min-width: 175px;
  min-height: 52px;

  @media (min-width: $tablet-width) {
    order: -1;
    align-self: start;

    font-size: 17px;
  }
}
