.reviews {
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.reviews__wrapper {
  padding: 0 30px;
}

.reviews__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
}

.reviews__autor-name {
  font-weight: bold;
}

.reviews__autor-e-mail {
  line-height: 30px;
}

.reviews__write {
  padding: 16px 65px;
  min-width: 260px;
  min-height: 52px;
}
