.site-list {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    font-size: 15px;

    width: calc(100% - 400px);
  }

  @media (min-width: $desktop-width) {
    max-width: 404px;
  }
}

.site-list__item {
  @media (min-width: $tablet-width) {
    width: 137px;
    margin-right: 30px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 184px;
    margin-right: 35px;

    &:first-of-type {
      border-right: 1px solid rgba($color-basic-black, 0.1);
    }
  }
}

.site-list__link {
  @media (min-width: $desktop-width) {
    min-height: 88px;
    padding-top: 33px;
    padding-bottom: 31px;
  }
}
