.site-list {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    position: absolute;
    font-size: 15px;
    bottom: -30px;
  }

  @media (min-width: $desktop-width) {
    order: -1;
    flex-basis: 40%;
  }
}

