.week-product {
  padding-top: 31px;
  padding-bottom: 42px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 36px;
    padding-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 56px;
    padding-bottom: 96px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background-image: url("../img/zigzag-line-mobile.svg");
    background-position-x: center;
    bottom: 0;

    @media (min-width: $tablet-width) {
      height: 17px;
      background-image: url("../img/zigzag-line-tablet.svg");
    }

    @media (min-width: $desktop-width) {
      height: 23px;
      background-image: url("../img/zigzag-line-desktop.svg");
    }
  }
}

.week-product__wrapper {
  box-sizing: border-box;
  padding: 0 30px;

  min-height: 753px;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 42px;

    padding: 0 50px;
    min-height: 505px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: max-content max-content max-content;
    position: relative;
    column-gap: 58px;
    padding-left: 175px;
    padding-right: 0;
    min-height: 636px;
  }
}

.week-product__header {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 61px;
    margin-bottom: 35px;
    margin-right: 50px;
  }
}

.week-product__photo {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    align-self: end;

    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 5;
    z-index: -1;
  }
}

.week-product__img {
  display: block;
  background-color: $color-normal-grey;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 404px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.week-product__product-title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.week-product__product-label {
  color: $color-basic-light-green;
  text-transform: uppercase;

  font-weight: bold;
  line-height: 20px;

  margin: 0;

  & br {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    line-height: 17px;
    margin-right: 27px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 50px;
  }
}

.week-product__info {
  color: $color-basic-grey;
  font-size: 15px;

  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;

    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }
}

.week-product__table {
  border-collapse: collapse;
  margin-bottom: 30px;
}

.week-product__data {
  color: $color-basic-grey;
  border-bottom: 1px solid $color-light-grey;

  height: 37px;

  font-size: 15px;
  line-height: 20px;

  &:first-of-type {
    width: 96px;
  }
}

.week-product__footer {
  @media (min-width: $tablet-width) {
    align-self: end;
  }
}

.week-product__price {
  color: $color-basic-grey;

  font-weight: bold;
  text-align: center;

  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.week-product__order {
  padding: 14px 70px;
  min-width: 260px;
  min-height: 52px;

  width: 100%;
}
