//Colors

$color-basic-black: #000000;
$color-basic-grey: #444444;
$color-middle-grey: #e5e5e5;
$color-normal-grey: #f9f9f9;
$color-soft-grey: #f1f1f1;
$color-light-grey: #ececec;
$color-basic-white: #ffffff;
$color-basic-middle-green: #59d5bc;
$color-basic-light-green: #63d1bb;
$color-basic-soft-green: #62d1ba;
$color-basic-dark-green: #56c3b2;
$color-basic-hard-green: #46c1ae;

// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
