//Colors

$color-basic-black: #000000;
$color-basic-grey: #444444;
$color-soft-grey: #f1f1f1;
$color-basic-white: #ffffff;
$color-basic-light-green: #63d1bb;
$color-basic-soft-green: #62d1ba;
$color-basic-dark-green: #56c3b2;
